html{
    background-image: url(./concert.jpeg);

    background-size:cover;
    background-position: center;

}
    
Body{
margin-left: 20%;
margin-right: 20%;
background-color: rgb(62, 71, 71);
margin-top: 0;
margin-bottom: 0;
opacity: .95;
padding-left: 2%;
padding-right: 2%;
display: flex;
flex-direction: column;
justify-content: center;
min-width: fit-content;
}

h1{
    color: aliceblue;
    text-shadow: rgb(35, 39, 51) 1px 0 1px;
    align-items: center;
}
   
.music-info{
align-items: center;
}


audio{
    align-items:center ;
}
#web-sample{
    clear: both;
    width: 100%;
    height: auto;
    opacity: 3 !important;
}

#minis{
    display:flex;
    justify-content: space-evenly;


}
.mini-pics{
    outline: solid 1mm aliceblue;
    outline-offset: .7em;
    margin: .5em;
    opacity: 2;
}


.test{
        height: 50px;
        width: 50px;
        background-color: azure;

      }
      
@media screen and (max-width: 768px) {

#minis{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    }

#web-sample{
    width: 100%;
}
    
}
